* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('https://loremflickr.com/1600/900/nature,landscape');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-maior{
    background-color: rgba(0, 0, 0, 0.9);
    width: 400px;
    padding: 20px;
    border-radius: 20px;
}

.city-input{
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #7c7c7c2b;
    color: #fff;
    font-size: 20px;
    width: calc(100% -100px);
}

.botao{
    padding: 10px;
    border: none;
    background-color: #7c7c7c2b;
    border-radius: 50%;
    margin-left: 8px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.botao:hover{
    background-color: #7c7c7c;
    transform: scale(1.1);
}

.img-botao{
    width: 20px;
    height: 20px;
}

.caixa-media{
    margin-top: 30px;
}

.cidade {
    font-size: 28px;
    color: #fff;
}

.temp {
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
}


.umidade {
    color: #fff;
}

.botao-ia {
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(14, 121, 252);
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.botao-ia:hover {
    background-color: rgb(2, 114, 251);
    transform: scale(1.05);
}

.botao-ia:active {
    background-color: rgb(0, 107, 250);
    transform: scale(0.98);
    opacity: 0.9;
}

.resposta-ia {
    color: #fff;
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.5;
}